*{
	margin: 0px;
	padding: 0px;
}

header, section, footer, aside, nav, article, hgroup,form{
	display:block;
}
h1{
	font: bold 20px Tahoma;
	
}
h2{
	font: bold 14px Tahoma;
}

body{
text-align: center;
}

#id_One{
	/*border-radius:5px;
	border: 1px solid #676767;*/
	width: 1000px;
	margin: 0px auto;
	text-align:left;
}

#top_header{
	background:#f1f1f1;
	border-right: 3px solid #3E5DC4;
	/*border-top:1px solid #3E5DC4;*/
	border-bottom: 1px solid #3E5DC4;
	border-left: 6px solid #3E5DC4;
	/*border:1px solid #ababab ;
	border-radius:7px;*/
	padding: 15px;
}
/*text box*/
.txtBox{
	border: 1px solid #848484; 
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px; 
    border-radius: 15px; 
    outline:0; 
    height:50px; 
    width: 50px; 
	margin:10px;
    padding-left:10px; 
    padding-right:10px;
	
}

#input{
	width: 70px;
}

/*buttons*/
.btnS{
	font-size: 16px;
    font-family:Tahoma;
    font-weight:normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    padding: 9px;
    font-weight:normal;
    text-decoration:none;
    cursor: pointer;
    background:-webkit-linear-gradient(100deg, #FFFFFF 5%, #E6E6E6 100%);
    background:-moz-linear-gradient(100deg, #FFFFFF 5%, #E6E6E6 100%);
    background:-ms-linear-gradient(100deg, #FFFFFF 5%, #E6E6E6 100%);
    background:linear-gradient(190deg, #E6E6E6 5%, #FFFFFF 100%);
    color:#666666;
    display:inline-block;
}




/*Links*/


#nav_bar li:first-child{
	margin-left:5px;
}
#nav_bar a:link,#nav_bar a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	border-bottom:3px solid transparent;
}
#nav_bar a:hover,#nav_bar li.firsItem a
{
	background:#476ADC;
	color:#DCDCDC;
	border-bottom:3px solid #2F2F2F;
	/*background-color:#3852AA;*/
}


#nav_bar ul{
	/*margin-top: 0px;*/
	height:50px;
	background:-webkit-linear-gradient(90deg, #3E5DC4 5%, #3550A9 100%);
    background:-moz-linear-gradient(90deg, #3E5DC4 5%, #3550A9 100%);
    background:-ms-linear-gradient(90deg, #3E5DC4 5%, #3550A9 100%);
    background:linear-gradient(180deg, #3550A9 5%, #3E5DC4 100%);
	margin:0;
	padding:0;
	/*background: #3E5DC4;*/
}

#nav_bar li{
	display: inline-block;
	list-style: none;
	float:left;
	font: bold 14px Tahoma;
}


#main_section{
	width: 992px;
	height: 500px;
	border-right: 2px solid #3E5DC4;
	border-bottom: 1px solid #3E5DC4;
	border-left: 6px solid #3E5DC4;
	/*margin: 0px 0px 5px 0px;*/
	background: #E4E4E4;
	
}

#main_part{
	float: left;
	width:600px;
	text-align: center;
	background:#3E5DC4;
	margin: 20px;
	background-image: url('http://i60.tinypic.com/90wndh.png');
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	-webkit-border-top-right-radius: 60px;
	-moz-border-radius-topright: 60px;
	border-top-right-radius: 60px;
	border: 1px dotted #ffffff;
	border-right: 4px solid #476ADC;
	border-left: 4px solid #476ADC;
}

#restOfMain_txtbtn{
	background:#ffffff;
}

#help{
	float: left;
	width: 280px;
	margin-top: 20px;
	margin-left:10px;
	padding: 20px;
	text-align: center;
	background-image: url('http://i57.tinypic.com/2wp189y.png');
	font-size: 16px;
    font-family:Tahoma;
    font-weight:normal;
	background:#ffffff top 400px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	-webkit-border-top-right-radius: 60px;
	-moz-border-radius-topright: 60px;
	border-top-right-radius: 60px;
	border: 1px dotted #ffffff;
	border-right: 4px solid #476ADC;
	border-left: 4px solid #476ADC;
}

/*
#main_part{
	float: left;
	width:900px;
	height:500px;
	background: #E4E4E4;
	margin: 5px 0px 0px 0px;
	padding: 30px;
	
}
#info_side{
	float:left;
	width: 220px;
	margin: 5px 0px 0px 0px;
	height:500px;
	padding: 30px;
	background: #E4E4E4;
}
*/


#footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 1px solid black;
}
